NET "*" IOSTANDARD = LVCMOS33;

NET "clk"      LOC = "p84"   ;
NET "clk"      TNM_NET = "clk50m";
TIMESPEC TS_clk = PERIOD "clk50m" 20.000ns;

NET "switch<0>" LOC = "p22";
NET "switch<1>" LOC = "p21";
NET "switch<2>" LOC = "p17";

NET "motor<0>"  LOC = "p75";
NET "motor<1>"  LOC = "p74";
NET "motor<2>"  LOC = "p67";

NET "switch<0>" PULLUP;
NET "switch<1>" PULLUP;
NET "switch<2>" PULLUP;

